body{
    background: rgb(25, 156, 207);
    background: linear-gradient(180deg, rgb(25, 156, 207) 45%, rgb(13, 71, 119) 90%);
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 650px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.075);
}

.registration-form .form-title{
	text-align: center;
    margin: auto;
    margin-bottom: 10px;
    line-height: 40px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 5px;
    padding: 7px 20px 7px;
}

.table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.080);
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(13, 71, 119);
    border: none;
    color: white;
    margin-top: 20px;
}